<ion-content class="todo"  > 
  
  <br>
    <ion-header>
      <ion-toolbar color="micolor" class="barra">
        
        <ion-button slot="start" >       
            <ion-icon name="menu-outline" style="color: black;"></ion-icon>
        </ion-button>       
        <ion-searchbar placeholder="Buscar aquí..." class="Busca"></ion-searchbar>
      </ion-toolbar>
      
    </ion-header>


  <ion-title class="titulodeini" >Administacion MarketShop</ion-title>
  <ion-grid class="img1">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img src="/assets/inicio verduras.jpg" alt="" class="iagendearriba">
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <h2 style="text-align: center;">Modificar por <span style="color: #ae2727;">Categorias</span></h2>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Verduras</ion-card-title>
          </ion-card-header>
          <img alt="" src="/assets/Verduras.png">
          <ion-button class="botonA" style="margin-left: 65px;">Modificar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Jugos</ion-card-title>
          </ion-card-header>
          <img alt="" src="/assets/jugos.avif">
          <ion-button class="botonA"  style="margin-left: 65px;">Modificar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Carnes</ion-card-title>
          </ion-card-header>
          <img alt="" src="/assets/carne.jpg">
          <ion-button class="botonA" style="margin-left: 65px;">Modificar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Frutas</ion-card-title>
          </ion-card-header>
          <img alt="" src="/assets/Frutas.jpg">
          <ion-button  class="botonA" style="margin-left: 65px;">Modificar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>