 ion-button{
    --background: #ae2727;
    --background-hover: #ae2727;
    --background-activated: black;
    --background-focused: black;
}

ion-fab-button{
    --background: #ae2727;
    --background-hover: #ae2727;
    --background-activated: black;
    --background-focused: black;
}