
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis Datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form class="ion-padding">
        <ion-item>
          <ion-label>Rut</ion-label>
          <ion-input type="text" placeholder="20.456.212-9" readonly="true"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input type="text" placeholder="Julio Diaz Rojas" readonly="true"></ion-input>
        </ion-item><br>

  
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" placeholder="ju.projas@gmail.com" readonly="true"></ion-input>
            </ion-item><br>

            <ion-item>
              <ion-label>Celular</ion-label>
              <ion-input type="text" placeholder="+56978954362" readonly="true"></ion-input>
            </ion-item><br>


        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input type="text" placeholder="Fontova Norte #4543" readonly="true"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label>Comuna</ion-label>
          <ion-input type="text" placeholder="Huechuraba" readonly="true"></ion-input>
        </ion-item><br>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/editar-datos"  >Editar</ion-button>
  <ion-button expand="block" routerLink="/pagina1" >Volver</ion-button>
</ion-content>