ion-content ion-button{
    --background: #ae2727;
    --background-hover: #ae2727;
    --background-activated: black;
    --background-focused: black;
}

ion-card-title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

