<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pagina1"></ion-back-button>
    </ion-buttons>
    
    <ion-title></ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-grid>
    
    <ion-row>
      <ion-col>
        <h1 style="color: #ae2727;">Productos</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/apio']">Apio</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/apio.jpg" [routerLink]="['/apio']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/brocoli']">Brocoli</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/brocoli.jpg" [routerLink]="['/brocoli']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/brocoli']">Buey</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/buey.jpg" [routerLink]="['/buey']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/pollo']">Filete de Pollo</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/filete pollo.jpg" [routerLink]="['/pollo']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/cebolla']">Cebolla</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/cebolla.jpg" [routerLink]="['/cebolla']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/cerdo']">Cerdo</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/cerdo.jpg" [routerLink]="['/cerdo']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/cordero']">Cordero</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/cordero.jpg" [routerLink]="['/cordero']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/kiwi']">Kiwi</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/kiwi.jpg" [routerLink]="['/kiwi']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/naranja']">Naranja</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/naranja1.jpg" [routerLink]="['/naranja']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/cordero']">Palta</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/palta1.jpg" [routerLink]="['/palta']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/pan']">Pan</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/pan_france.jpg" [routerLink]="['/pan']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/pepino']">Pepino</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/pepino.jpg" [routerLink]="['/pepino']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/pera']">Pera</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/pera.jpg" [routerLink]="['/pera']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/pescado']">Pescado</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/pescado.jpg" [routerLink]="['/pescado']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/res']">Res</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/res.jpg" [routerLink]="['/res']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/salmon']">Salmón</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/salmon.jpg" [routerLink]="['/salmon']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/sandia']">Sandía</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/sandia.jfif" [routerLink]="['/sandia']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/tomate']">Tomate</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/Tomate1.jpg" [routerLink]="['/tomate']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title [routerLink]="['/vacuno']">vacuno</ion-card-title>
          </ion-card-header>
          <img alt="Silhouette of mountains" src="assets/vacuno.jpg" [routerLink]="['/vacuno']" />
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let p of productos" [routerLink]="['/producto', p.cod_producto ]">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ p.nombre_producto }}</ion-card-title>
          </ion-card-header>
          <img alt="Sin imagen" src="{{ p.foto_p }}" width="130px" height="150px" />
          
          <ion-card-content>
            <ion-button size="small">Agregar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>