


<br>
<ion-content>

  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card>
    <ion-card-header class="title">
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button expand="block" (click)="ingresar()">
        Ingresar
      </ion-button>
         
      <ion-button expand="block" [routerLink]="['/agregar-u']">Registrarse</ion-button>
           
      <ion-button expand="block" [routerLink]="['/recuperar-contrasena']">Recuperar Contraseña</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
